:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
  }
  
  .main-container {
    overflow: hidden;
  }
  
  .main-container,
  .main-container * {
    box-sizing: border-box;
  }
  
  input,
  select,
  textarea,
  button {
    outline: 0;
  }
  
  .main-container {
    position: relative;
    width: 548px;
    height: 707px;
    margin: 0 auto;
    font-size: 0px;
    border-radius: 10px;
  }
  .account-created {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    width: 441px;
    height: 107px;
    margin: 74px 0 0 57px;
    color: #353a66;
    font-family: Artifika, var(--default-font-family);
    font-size: 40px;
    font-weight: 400;
    line-height: 48.672px;
    text-align: left;
    z-index: 1;
  }
  .browse-menu {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    width: 441px;
    height: 68px;
    margin: 27px 0 0 57px;
    color: #353a66;
    font-family: Artifika, var(--default-font-family);
    font-size: 25px;
    font-weight: 400;
    line-height: 30.42px;
    text-align: left;
    z-index: 2;
  }
  .rectangle {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #f4f5fa;
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }
  .button {
    position: absolute;
    width: 70.26%;
    height: 6.93%;
    top: 79.49%;
    left: 14.6%;
    cursor: pointer;
    background: #353a67;
    border: none;
    z-index: 4;
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }
  .main-page {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    width: 272px;
    height: 24px;
    top: 574px;
    left: 134px;
    color: #ffffff;
    font-family: Artifika, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    white-space: nowrap;
    z-index: 5;
  }
  .continue {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    width: 272px;
    height: 24px;
    top: 578px;
    left: 98px;
    color: #ffffff;
    font-family: Artifika, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    white-space: nowrap;
    z-index: 3;
  }
  